body {
  padding-bottom:  8em;
}
#canvas {
  width: 400px;
  height: 400px;
  display:  block;
}
#log {
  white-space:  pre;
  font-family: monospace;
  color:  #eee;
  background-color: #333;
  padding: 1em;
  width:  100%;
  max-width:  100%;
  overflow: hidden;
  position: fixed;
  bottom:  0;
}
table tr td {
  vertical-align: middle !important;
}

.simulate-table th,
.simulate-table td {
  font-size:  85%;
  text-align: center !important;
}

.tr-totals {
  border-top:  2px solid #000 !important;
  font-weight:  500;
}

.delete-server {
  font-weight:  bold;
}

.server-header .delete-server {
  color:  #fff;
}

.delete-server:hover {
  cursor:  pointer;
}

.main-server td {
  font-weight:  500;
}

.virtual-server td {
  text-color:  #777;
  font-size:  80%;
}

.sub {
	font-size:  60%;
}

.server-header td {
	color: #fff;
	font-weight:  800;
}

#simulation-log {
  margin-top:  2em;
}

.simulation-log-message {
  font-size:  90%;
  margin-bottom:  0.5em;
}